

@{
    ViewData["AboutUs"] = "AboutUs";
}







<style>
    .imgbg {
        background-image: url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        top: 0;
        padding-top: 15%;
        padding-bottom: 15%;
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 59px;
    }
</style>






<div class="imgbg">
    <div class="text-center">
        <p>About Us</p>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <img src="/Images/creator_new.png" />
    </div>
    <div class="col-sm-6">
        <h1 style="padding-top: 10%; font-family: 'Permanent Marker', cursive; color: #1b6ec2;">Project Creator</h1>
        <br />
        <p style="font-size: 25px; font-family: 'Open Sans', sans-serif; ">
            The project creator plays a primary role in the project, and is responsible for its successful completion. The creator’s job is to ensure that the project proceeds
            within the specified time frame while achieving its objectives. Project creators make sure that projects are given sufficient resources, while managing relationships
            with contributors and stakeholders.

        </p>
    </div>
</div>

<div class="row" style="background-color: #32C1EF">
    <div class="col-sm-6">
        <h1 style="padding-top: 10%; font-family: 'Permanent Marker', cursive; color: white;">Backer</h1>
        <br />

        <p style="color: white; font-size: 25px; font-family: 'Open Sans', sans-serif;">
            Backers that support a project get an inside look at the creative process, and help that project come to life.
            They also get to choose from a variety of unique rewards offered by the project creator. Rewards vary from project to project, but often include
            a copy of what is being produced or an experience unique to the project.

        </p>
    </div>
    <div class="col-sm-6">
        <img src="/Images/backer_new.png" style="padding-left: 30%;" />
    </div>
</div>

<div class="row" style="padding-top: 50px;">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col" style="text-align: center; padding-right: 50px;">
        <div class="card" style="width: 18rem;">
            <img src="/Images/codehub.png" />
        </div>
    </div>
    <div class="col" style="text-align: center; padding-left: 50px;">
        <div class="card" style="width: 18rem;">
            <img src="/Images/ProjectFutureLogo.jpg" />
        </div>
    </div>
    <div class="col" style="text-align: center; padding-left: 50px;">
        <div class="card" style="width: 18rem;">
            <img src="/Images/regen.png" />
        </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>

