@model CrowdfundMvc.Models.ProjectCreatorModel
@{
    ViewData["Title"] = "AddProject";
}


<h1 align="center"> Add Project </h1> 


<form>
    <table align="center">
        <tr><td>Title	</td>  <td><input type="text" id="Title" name="Title">	</td>  </tr>
        <tr><td>Description	</td>  <td> <input type="text" id="Description" name="Description">	</td>  </tr>
        <tr><td>Goal	</td>  <td> <input type="text" id="Goal" name="Goal">	</td>  </tr>
        <tr><td>StatusUpdate	</td>  <td> <input type="text" id="StatusUpdate" name="StatusUpdate">	</td>  </tr>
        <tr><td>Category	</td>  <td> <input type="text" id="Category" name="Category">	</td>  </tr>
        <tr>
            <td>
                <input type="button" onclick="createProject(@Model.ProjectCreatorId)"
                       value="Submit">
    </table>

</form>

<div id="responseDiv">   </div>