@{
    ViewData["Title"] = "Backer";
}





<style>
    .imgbg {
        background-image: url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        top: 0;
        padding-top: 15%;
        padding-bottom: 15%;
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 59px;
    }

   
</style>






<div class="imgbg">
    <div class="text-center">
        <p>Backer</p>
    </div>
</div>
<div class="text-center" style="margin-top: -50px;">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col" style="padding-right: 50px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">
                        Subscribe as a backer, finance the project you like and provide your gift                        .
                    </p>
                    <a href="#" onclick="RegisterBacker()" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col" style="padding-right: 50px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">If you have registered, sign in with your mail.</p>
                    <br />
                    <a href="#" onclick="LoginBacker()" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</div>






