@{
    ViewData["Title"] = "Backer";
}

<div class="text-center">
    <h1 class="display-4">Backer</h1>
    <p>
        Learn about
        <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>


<button type="button"
        href="#" onclick="RegisterBacker()">
    Register
</button>

<button type="button"
        href="#" onclick="LoginBacker()">
    Login
</button>