@{
    ViewData["Title"] = "Home Page";
}







<style>
    .imgbg {
        background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        top: 0;
        padding-top: 15%;
        padding-bottom: 15%;
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 59px;
    }
</style>






<div class="imgbg">
    <div  class="text-center">
        <p>FundSky</p>
    </div>
</div>


    <div class="text-center" style="margin-top: -50px;">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" style="text-align: center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Creator</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" onclick="ProjectCreator()" class="btn btn-primary">Go Creator</a>
                    </div>
                </div>
            </div>
            <div class="col" style="text-align: center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Backer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" onclick="Backer()" class="btn btn-primary">Go Backer</a>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>





