@{
    ViewData["Title"] = "LoginBacker";
}


<h1 align="center">Login Backer</h1>

<form id="LoginBacker">
    <table align="center">
        <tr><td>Full Name	</td>  <td> <input type="text" id="FullName" name="FullName" placeholder="FullName">	</td>  </tr>
        <tr><td>Email	</td>  <td> <input type="text" id="Email" name="Email" placeholder="Email">	</td>  </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="loginButtonBacker" value="Submit">
            </td>
        </tr>
    </table>

</form>

<div id="responseDiv">   </div>